/* Copyright Area Start */
#footer-copyright {
  background-color: #353535;
  padding: 20px 0;
}

#footer-copyright h4 {
  font-size: 13px;
  color: var(--quinary-color);
  font-weight: var(--regular-font-weight);
  font-family: var(--secondary-font);
}

#footer-copyright h4 a {
  color: var(--quaternary-color);
}

.backToTopButton a {
  position: fixed;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  bottom: 30px;
  right: 30px;
  background-color: #fec600;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.backToTopButton a:hover {
  background-color: #222222;
  color: #ffffff;
}
/* Copyright Area End */
